<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>수정 페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#putButton").click(function() {
                // updatepostDto의 값을 가져오거나 필요한 데이터를 수집합니다.
                var postData = {
                    title: $('#title').val(),
                    writer: $('#writer').val(),
                    password: $('#password').val(),
                    context: $('#context').val()
                };

                var formData = $("#putForm").serialize();

                $.ajax({
                    url: "/v1/posts/"+[[${number}]],
                    type: "PUT",
                    contentType: 'application/json', // JSON 데이터를 보낼 것이므로 Content-Type을 설정합니다.
                    data: JSON.stringify(postData), // JSON 데이터로 변환하여 보냅니다.
                    success: function(response) {
                        // 성공한 경우 처리
                        console.log('수정 성공:', response);
                        // 페이지를 이동하려면 아래와 같이 사용합니다.
                        window.location.href = "http://localhost:8080/v1/posts"; // 이동할 페이지의 URL을 지정합니다.
                    },
                    error: function(error) {
                        // 오류 처리
                        console.error('수정 오류:', error);
                    }
                });
            });
        });
    </script>
</head>
<body>
<div><h2>게시글 작성하기</h2></div>
<div>
    <form id="putForm" th:object="${updatepostDto}">
        <table border="1">
            <tr>
                <td>제목</td>
                <td>작성</td>
            </tr>
            <tr>
                <td><label for="title">제목</label></td>
                <td><input type="text" th:text="${updatepostDto.getTitle()}" th:field="*{title}" id="title" maxlength="100"></td>
            </tr>
            <tr>
                <td><label for="writer">작성자</label></td>
                <td><input type="text" th:text="${updatepostDto.getWriter()}" th:field="*{writer}" id="writer" maxlength="100"></td>
            </tr>
            <tr>
                <td><label for="password">비밀번호</label></td>
                <td><input type="password" th:text="${updatepostDto.getPassword()}" th:field="*{password}" id="password" maxlength="4"></td>
            </tr>
            <tr>
                <td><label for="context">내용</label></td>
                <td><input type="text" th:text="${updatepostDto.getContext()}" th:field="*{context}" id="context" maxlength="100"></td>
            </tr>
        </table>
    </form>
    <button th:onclick="|location.href='@{/v1/posts}'|">취소하기</button>
    <button type="button" id="putButton">수정하기</button>
</div>
</body>
</html>